.feedback-container h2 {
  color: #23b7a7;
  display: inline-block;
  padding: 20px;
  border-bottom: 4px solid #23b7a7;
}
.feedback-container .feedback {
  border: 2px dotted gray;
}
.student-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.student-name {
  background-color: #f8f8f8;
}
.student-feedback {
  font-size: 16px;
  text-align: justify;
}
