.banner-area {
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  color: #fff;
}
.banner-area h1 {
  font-size: 40px;
}
.banner-area h2 {
  font-size: 28px;
  display: inline-block;
  padding: 15px 30px;
  background-color: #23b7a7;
  border-radius: 6px;
}
.home-buttons {
  margin-top: 40px;
}

.btn button {
  font-size: 20px;
  border: 2px solid #23b7a7;
  font-weight: 500;
  transition: 0.3s all ease;
  color: #23b7a7;
  padding: 8px 15px;
  border-radius: 5px;
}
.btn button:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #23b7a7;
}

/* our services area css  */
.our-services-area h2 {
  color: #23b7a7;
  display: inline-block;
  padding: 20px;
  border-bottom: 4px solid #23b7a7;
}
